<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCp12uu9hiMUlVGwuQspzy_E8h5gITiAyE</string>
	<key>GCM_SENDER_ID</key>
	<string>1020424802267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.glicodose</string>
	<key>PROJECT_ID</key>
	<string>glicodose-guga</string>
	<key>STORAGE_BUCKET</key>
	<string>glicodose-guga.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020424802267:ios:c354bf401bcbdfa77f21fe</string>
</dict>
</plist>